@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh; /* 最低でも100vh */
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
  text-decoration: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .imgBox {
  width: 500px;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox img {
  max-height: 500px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}

.thumb li:nth-child(1) {
  margin-top: 13px;
}

.thumb li:nth-child(3) {
  margin-left: 40px;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.content .thumb li img {
  max-height: 120px;
  max-width: 80px;
}

.sci {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  color: #333;
  display: inline-block;
  margin: 15px 0;
  transform: scale(2);
  /* 色を反転させる */
  filter: invert(1);
}

.sci li a i {
  transition: all 0.1s;
}

.sci li a i:hover {
  transform: translateY(-10%);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  /* 要素のどの部分を表示するかを設定するクリッピング領域を作る */
  /* 要素の領域的には全体に敷かれている？ */
  clip-path: circle(600px at right 800px);
}
